# -----------------------------
# OS/Editor/IDE Files
# -----------------------------
.DS_Store
.idea/
.idea/dataSources
.vscode/
.vscode-test

# -----------------------------
# Logs and Runtime Data
# -----------------------------
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
*.pid
*.seed
*.pid.lock
pids/

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# -----------------------------
# Node.js/JavaScript
# -----------------------------
node_modules/
node_modules
package-lock.json
*.tgz

# TypeScript
*.tsbuildinfo

# npm/yarn/pnpm/parcel
.npm/
.eslintcache
.stylelintcache
.node_repl_history
.cache/
.parcel-cache/
.temp/
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# Output/Build/Dist
out/
dist/

# -----------------------------
# Python
# -----------------------------
.venv/
__pycache__/
*.db

# -----------------------------
# Project-specific
# -----------------------------
server/backups/