<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta lang="en" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Toolbox.io</title>
        <link rel="icon" href="../res/favicon.svg" />

        <link rel="stylesheet" href="../css/common.css" />

        <script src="../lib/jquery.js"></script>
        <!--suppress ES6ConvertVarToLetConst, JSUnusedGlobalSymbols -->
        <script type="module" src="../common.min.js"></script>
    </head>
    <body>
        <tio-header class="top"></tio-header>
        <div class="wrapper">
            <div id="main" class="automargin markdown"></div>
        </div>
        <tio-footer></tio-footer>
        <div id="status_wrapper">
            <div id="status" class="hidden">
                <div class="head">
                    <span class="material-symbols filled success">check</span>
                    <span class="material-symbols filled error">error</span>
                    <strong class="message_headline"></strong>
                    <div class="space"></div>
                    <md-icon-button class="close">
                        <div>
                            <md-icon>close</md-icon>
                        </div>
                    </md-icon-button>
                </div>
                <p class="message"></p>
                <div class="progress">
                    <div class="progress_bar" style="width: 0;"></div>
                </div>
            </div>
        </div>
        <div id="card_dialog" class="dialog"></div>
        <script type="module">
            import { Utils } from "../common.min.js";

            const setUpTabs = Utils.setUpTabs;
            const loadMarkdown = Utils.loadMarkdown;
            setUpTabs();
            loadMarkdown("/{{ file }}", document.getElementById("main"));
        </script>
    </body>
</html>