@import "common/colors";

#main #features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;

    .feature {
        border-radius: 20px;
        background-color: $color-surfaceContainer;
        padding: 20px;
        box-shadow: 2px 2px 10px #101010;
        display: flex;
        flex-direction: column;
        text-align: left;
        transition: transform 0.5s ease;
        overflow: hidden;

        .feature-header {
            display: flex;
            flex-direction: row;
            margin-bottom: 10px;
            align-items: center;

            .feature-icon {
                margin-right: 5px;
            }

            .feature-title {
                font-weight: bold;
            }

            .feature-close {
                margin-left: auto;
                display: none;
            }
        }

        .feature-description {
            transition: opacity 0.5s ease-in-out;
        }

        .feature-long-description {
            display: none;
            transition: opacity 0.5s ease-in-out;
            overflow: auto;

            > div {
                margin: 0;
            }
        }
    }

    .feature.expanded {
        max-width: 50%;
        max-height: 80%;
        position: fixed;
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        z-index: 1001;
        transition: none;
    }

    .feature.closing {
        transition: none !important;
    }

    .placeholder {
        user-select: none;
    }
}