@use "common/animations";
@use "common/markdown" as *;
@use "common/components";
@use "common/mixins" as *;
@use "common/colors" as *;
@use "common/standardCustomizations";

@import url(../res/fonts/montserrat/index.css);
@import url(../res/fonts/material-symbols/index.css);
@import url(../node_modules/highlight.js/styles/github-dark.min.css);

html, body {
    background-color: $color-surface;
    color-scheme: dark;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

* {
    font-family: "Montserrat", sans-serif;
    -webkit-tap-highlight-color: transparent !important;
}

body {
    .wrapper {
        position: relative;
        margin-bottom: 20px;
    }

    &::before {
        position: fixed;
        width: 100dvw;
        height: 100dvh;
        content: '';
        backdrop-filter: blur(30px) brightness(0.8);
        display: block;
        opacity: 1;
        z-index: 1000;
        transition: opacity 0.5s ease;
    }
    
    &::after {
        content: '';
        width: 70px;
        height: 70px;
        font-weight: 500;
        border-top: $spinner-thickness solid $spinner-color;
        border-right: $spinner-thickness solid $spinner-color;
        border-bottom: $spinner-thickness solid transparent;
        border-left: $spinner-thickness solid transparent;
        border-radius: 50%;
        position: fixed;
        animation: rotate 1s ease;
        animation-iteration-count: infinite;
        opacity: 1;
        z-index: 1001;
        transition: opacity 0.5s ease;
        left: calc(50% - 70px / 2);
        top: calc(50dvh - 70px / 2);
    }
    
    &.loaded::before, &.loaded::after {
        opacity: 0;
    }
    
    &.full_loaded::before, &.full_loaded::after {
        display: none;
    }



    // TODO review and remove
    &.hasHover {
        .toucheffect {
            &:hover {
                background-color: $hover-color;
            }

            &:active {
                background-color: $active-color;
            }
        }
    }
}

#headline {
    margin-block-start: 0;
}

#main {
    text-align: center;
    color: white;
    margin-top: 25px;
}


.textstyling {
    h4 {
        margin-block-end: 0;
    }
}

.automargin {
    @include automargin();
    max-width: 1000px;
    transition: all 0.5s ease-in-out;

    @media (max-width: 1020px) {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.centermargin {
    margin-left: 25%;
    margin-right: 25%;
    transition: all 0.5s ease-in-out;
}