@use "features";
@use "common/animations";
@use "common/colors" as *;

#main {
    .section {
        display: flex;
        flex-direction: row;
        text-align: left;
        padding: 30px;
        gap: 30px;

        .left {
            flex-grow: 1;
            flex-shrink: 1;
        }

        .right {
            flex-grow: 0;
            flex-shrink: 1;
        }

        &.col {
            flex-direction: column;
        }

        &#main_block {
            background-color: $color-surfaceContainer;
            margin: 30px;
            border-radius: 30px;
    
            .left {
                h1 {
                    min-height: 39px;
                    line-height: 39px;
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    align-items: center;
                    flex-wrap: wrap;
    
                    // Normalize text
                    span {
                        height: 39px;
                        line-height: 39px;
                        display: block;
                    }
                    
                    // Styles for the sliding animation wrapper and elements
                    #scrolling-wrapper {
                        position: relative;
                        overflow: hidden;
                        display: inline-block;
                        height: 39px;
                        line-height: 39px;

                        .scrolling-word {
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            background: linear-gradient(
                                133deg,
                                rgba(48, 134, 193, 1) 0%,
                                rgba(60, 96, 178, 1) 37%,
                                rgba(125, 70, 218, 1) 71%,
                                rgba(228, 9, 255, 1) 100%
                            );
                            color: transparent;
                            background-clip: text;
                            -webkit-background-clip: text;
                            transition: transform 0.6s ease-in-out;
                            white-space: nowrap;
                        }
                    }
                }
    
                #main_p {
                    margin-block: 0;
                    margin-top: 0;
                    margin-bottom: 30px;
                }
            }
    
            .right video {
                border-radius: 20px;
            }
        }

        @media (max-width: 650px) {
            flex-direction: column;
            align-items: center;
        }

        @media (max-width: 390px) {
            padding: 20px;

            &#main_block {
                margin: 10px;
            }
        }
    }

    #headline {
        background: linear-gradient(
            133deg,
            rgba(48, 134, 193, 1) 0%,
            rgba(60, 96, 178, 1) 37%,
            rgba(125, 70, 218, 1) 71%,
            rgba(228, 9, 255, 1) 100%
        );
        color: transparent;
        background-clip: text;
    }

    #features {
        #applocker {
            .feature-long-description {
                .side {
                    display: flex;
                    text-align: start;

                    div.text {
                        h1, h2, h3, h4, h5, h6 {
                            text-align: center;
                        }
                    }

                    div#video_container {
                        display: flex;
                        flex-direction: column;

                        video {
                            border-radius: 20px;
                            margin: 10px 10px 0;
                        }

                        .tip {
                            color: #7e7e7e;
                            margin-left: 10px;
                            margin-top: 5px;
                        }
                    }
                }
            }
        }
    }

    .center {
        display: flex;
        flex-direction: column;

        * {
            margin-left: auto;
            margin-right: auto;
        }
    }

    .textcenter {
        text-align: center;
    }

    .h {
        position: absolute;
        width: 0;
        height: 94px;
        top: -94px;
    }

    .h1 {
        position: relative;
    }
}

body.hasHover #main #features .feature:not(.noHover):hover {
    transform: translateY(5px);
}