// TODO common style for reset pages
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 320px;
  margin: 2rem auto;
}

input[type="email"] {
  padding: 0.5rem;
  font-size: 1rem;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

#reset-request-message {
  margin-top: 1rem;
  text-align: center;
  color: #007bff;
} 