@import "../common/colors";

.react-Footer {
    background-color: #1F1F25;
    display: flex;
    justify-content: center;
    gap: 50px;
    border-radius: 20px 20px 0 0;
    padding: 20px;
    margin-top: auto;
    user-select: none;

    * {
        text-align: center;
    }

    .footer_column {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;

        .footer_title {
            font-weight: bold;
            margin-bottom: 5px;
        }

        a {
            text-decoration: none !important;
            transition: color 0.3s ease, transform 0.5s ease;
            display: inline-block;

            &:active {
                transform: scale(0.95);
            }

            &.selected {
                font-weight: bold;
                color: white;
                cursor: default;
            }

            &:not(.selected):hover {
                color: $color-primary;
            }
        }
    }
}

@media (max-width: 560px) {
    .react-Footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}

@media (max-width: 380px) {
    .react-Footer {
        grid-template-columns: 1fr;
    }
}