@import url(../../res/fonts/material-symbols/index.css);

:host {
    display: block;
    margin-bottom: 1.5em;

    .input-group {
        position: relative;
        display: flex;
        flex-direction: row;
        border: 2px solid #918f9a;
        border-radius: 8px;
        transition: border-color .2s, box-shadow .2s;
        overflow: hidden;

        label {
            font-weight: 600;
            color: #e4e1e9;
            margin-bottom: 0.5em;
        }

        input {
            width: 100%;
            padding: 0.75rem 0 0.75rem 0.75rem;
            border: none !important;
            font-size: 1rem;
            background: inherit;
            color: #e4e1e9;
            box-sizing: border-box;
            outline: none !important;
            font-family: inherit;
        }

        .toggle-password {
            background: none;
            border: none;
            cursor: pointer;
            display: flex;
            align-items: center;
            color: #888;
            font-size: 1.3em;
            border-radius: 50%;
            transition: background 0.2s, color 0.2s;
            padding: 0 10px;

            &:hover {
                background: rgba(200,200,255,0.08);
                color: #c1c1ff;
            }
    
            &:focus {
                outline: none;
                background: rgba(200,200,255,0.15);
            }
        }

        .material-symbols.filled {
            font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
            font-size: 1.3em;
            line-height: 1;
        }

        &:has(input:focus) {
            border-color: #c1c1ff;
            box-shadow: 0 0 0 3px rgba(193,193,255,.1);
        }
    }
}