@import url(../res/fonts/montserrat/index.css);
@import url(../res/fonts/material-symbols/index.css);
@import url(../node_modules/highlight.js/styles/github-dark.min.css);
@keyframes rotate {
  0% {
    rotate: 0;
  }
  100% {
    rotate: 360deg;
  }
}
@keyframes cardExpand {
  to {
    top: 10px;
    left: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
  }
}
@keyframes dialog_open {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes dialog_close {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.markdown {
  max-width: 1012px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
.markdown h1:first-child {
  margin-block-start: 0;
}
.markdown p:has(img) {
  display: flex;
  user-select: none;
  border-radius: 0;
  align-items: center;
  justify-content: center;
  width: max-content;
  position: relative;
}
.markdown p:has(img) img {
  margin-left: 10px;
  margin-right: 10px;
}
.markdown p:has(img)::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  opacity: 1;
}
.markdown p:has(img)::before {
  content: "";
  width: 70px;
  height: 70px;
  border-left: 5px solid #fffaf0;
  border-top: 5px solid #fffaf0;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-radius: 50%;
  z-index: 100;
  position: absolute;
  animation: rotate 1s ease;
  animation-iteration-count: infinite;
  opacity: 1;
}
.markdown p:has(img) {
  border-radius: 20px;
}
.markdown p:not(:has(img:not(.loaded)))::before {
  opacity: 0;
}
.markdown p:not(:has(img:not(.loaded)))::after {
  opacity: 0;
}
.markdown p:not(:has(img:not(.loaded))) {
  border-radius: 0;
}
@media (max-width: 729px) {
  .markdown p:has(img.phone:not(:only-child)) {
    flex-direction: column;
  }
  .markdown p:has(img.phone:not(:only-child)) > img {
    margin-bottom: 10px;
  }
  .markdown p:has(img.phone:not(:only-child)) > img:last-child {
    margin-bottom: 0;
  }
}
.markdown blockquote {
  border-left: 5px solid rgb(99, 99, 99);
  padding-left: 20px;
  margin-left: 0;
}
.markdown blockquote > p.important:first-child, .markdown blockquote p.warning:first-child, .markdown blockquote p.tip:first-child, .markdown blockquote p.note:first-child {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
}
.markdown blockquote:has(p.tip:first-child) {
  border-left-color: rgb(58, 159, 49);
}
.markdown blockquote:has(p.tip:first-child) > p.tip:first-child {
  color: rgb(58, 159, 49);
}
.markdown blockquote:has(p.important:first-child) {
  border-left-color: rgb(157, 64, 255);
}
.markdown blockquote:has(p.important:first-child) > p.important:first-child {
  color: rgb(157, 64, 255);
}
.markdown blockquote:has(p.warning:first-child) {
  border-left-color: rgb(246, 255, 0);
}
.markdown blockquote:has(p.warning:first-child) > p.warning:first-child {
  color: rgb(246, 255, 0);
}
.markdown blockquote:has(p.note:first-child) {
  border-left-color: rgb(0, 161, 255);
}
.markdown blockquote:has(p.note:first-child) > p.note:first-child {
  color: rgb(0, 161, 255);
}
.markdown ul > li:not(:last-child) {
  margin-bottom: 10px;
}

a:not(.noeffect) {
  transition: transform 0.5s ease;
  display: inline-block;
}
a:not(.noeffect):active {
  transform: scale(0.95);
}

a:has(md-filled-button) {
  text-decoration: none !important;
}

md-filled-button {
  background-color: #404178;
  user-select: none;
  padding: 10px;
  border-radius: 20px;
  transition: background-color 0.25s ease, transform 0.5s ease;
  text-decoration: none !important;
  cursor: pointer;
  color: white;
  display: block;
  overflow: hidden;
  position: relative;
}
md-filled-button:hover {
  background-color: #2d2d54;
}
md-filled-button:visited, md-filled-button:link {
  text-decoration: none;
}
md-filled-button:active {
  transform: scale(0.95);
}

#status_wrapper {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1000;
  display: flex;
}
#status_wrapper #status {
  position: relative;
  border-radius: 20px;
  padding: 5px 5px 10px 10px;
  transition: right 0.25s ease-in-out;
  right: 0;
}
#status_wrapper #status .head {
  display: flex;
  align-items: center;
}
#status_wrapper #status p.message {
  margin-block: 0;
  margin: 10px 5px 0 0;
}
#status_wrapper #status span.material-symbols.filled {
  display: none;
  margin-right: 5px;
  user-select: none;
}
#status_wrapper #status .space {
  flex-grow: 1;
  min-width: 20px;
}
#status_wrapper #status md-icon-button.close {
  display: block;
  --md-icon-button-icon-color: white;
  --md-icon-button-hover-icon-color: white;
  --md-icon-button-pressed-icon-color: white;
  --md-icon-button-focus-icon-color: white;
}
#status_wrapper #status md-icon-button.close div {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#status_wrapper #status .progress {
  width: calc(100% - 5px);
  height: 5px;
  position: relative;
  margin-top: 5px;
}
#status_wrapper #status .progress .progress_bar {
  transition-property: width;
  transition-timing-function: linear;
  width: 0;
  height: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}
#status_wrapper #status.hidden {
  right: calc(-100% - 10px);
}
#status_wrapper #status.success {
  background-color: rgb(39, 193, 31);
}
#status_wrapper #status.success .head > span.material-symbols.filled.success {
  display: block;
}
#status_wrapper #status.error {
  background-color: rgb(217, 36, 36);
}
#status_wrapper #status.error .head > span.material-symbols.filled.error {
  display: block;
}

div.warning {
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(255, 255, 0);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  text-align: left;
}
div.warning .warning-icon {
  margin-right: 10px;
  color: rgb(255, 255, 0);
}

.dialog {
  backdrop-filter: blur(10px) brightness(70%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  transition: opacity 0.5s ease;
  opacity: 0;
  user-select: none;
}

.dialog.open {
  opacity: 1;
  height: 100vh;
}

pre {
  background-color: #0d1117;
  padding: 16px 16px 0 16px;
  border-radius: 20px;
  width: min-content;
  margin-left: auto;
  margin-right: auto;
}
pre code {
  overflow: auto;
  width: 100%;
  display: block;
  padding: 0 0 16px 0 !important;
  font-family: monospace !important;
  text-align: left;
  box-sizing: border-box;
}
pre code * {
  font-family: inherit;
}

html, body {
  background-color: #131318;
  color-scheme: dark;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

* {
  font-family: "Montserrat", sans-serif;
  -webkit-tap-highlight-color: transparent !important;
}

body .wrapper {
  position: relative;
  margin-bottom: 20px;
}

#headline {
  margin-block-start: 0;
}

#main {
  text-align: center;
  color: white;
  margin-top: 25px;
}

.textstyling h4 {
  margin-block-end: 0;
}

.automargin {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 1020px) {
  .automargin {
    margin-left: 10px;
    margin-right: 10px;
  }
}
.centermargin {
  margin-left: 25%;
  margin-right: 25%;
  transition: all 0.5s ease-in-out;
}

ul {
  text-align: start;
}

hr {
  height: 1px;
  border: none;
  background-color: #918F9A;
}

table {
  background-color: #1F1F25;
  border-radius: 20px;
  border-collapse: collapse;
  overflow: hidden;
  margin: 10px 0 10px 0;
}
table tr:not(:last-child) {
  border-bottom: 3px solid #131318;
}
table td {
  padding: 10px;
}
table td:not(:last-child) {
  border-right: 3px solid #131318;
}
table th {
  padding: 10px;
}
table th:not(:last-child) {
  border-right: 3px solid #131318;
}
table thead {
  border-bottom: 3px solid #131318;
}

div > table {
  margin-left: auto;
  margin-right: auto;
}

div:has(> table) {
  overflow: auto;
}
div:has(> table) ::-webkit-scrollbar {
  height: 5px;
}
div:has(> table) ::-webkit-scrollbar-thumb {
  background-color: rgb(73, 73, 73);
  border-radius: 5px;
}

@media (max-width: 1000px) {
  .automargin {
    margin-left: 10px !important;
    margin-right: 10px !important;
  }
}
body.hasHover .toucheffect:hover {
  background-color: rgba(110, 110, 110, 0.3);
}

.toucheffect:active {
  background-color: rgba(163, 163, 163, 0.3);
}

/*# sourceMappingURL=common.css.map */
