@use "common/animations";
@use "common/markdown";
@use "common/components";
@import "common/mixins";
@import "common/colors";
@import "common/markdown";

@import url(../res/fonts/montserrat/index.css);
@import url(../res/fonts/material-symbols/index.css);
@import url(../node_modules/highlight.js/styles/github-dark.min.css);

html, body {
    background-color: $color-surface;
    color-scheme: dark;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

* {
    font-family: "Montserrat", sans-serif;
    -webkit-tap-highlight-color: transparent !important;
}

body .wrapper {
    position: relative;
    margin-bottom: 20px;
}

#headline {
    margin-block-start: 0;
}

#main {
    text-align: center;
    color: white;
    margin-top: 25px;
}


.textstyling {
    h4 {
        margin-block-end: 0;
    }
}

.automargin {
    @include automargin();
    max-width: 1000px;
    transition: all 0.5s ease-in-out;
}

@media (max-width: 1020px) {
    .automargin {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.centermargin {
    margin-left: 25%;
    margin-right: 25%;
    transition: all 0.5s ease-in-out;
}

ul {
    text-align: start;
}

hr {
    height: 1px;
    border: none;
    background-color: $color-outline;
}

table {
    background-color: $color-surfaceContainer;
    border-radius: 20px;
    border-collapse: collapse;
    overflow: hidden;
    margin: 10px 0 10px 0;

    tr:not(:last-child) {
        border-bottom: 3px solid $color-surface;
    }

    td {
        padding: 10px;
    }
    td:not(:last-child) {
        border-right: 3px solid $color-surface;
    }

    th {
        padding: 10px;
    }
    th:not(:last-child) {
        border-right: 3px solid $color-surface;
    }

    thead {
        border-bottom: 3px solid $color-surface;
    }
}

div > table {
    margin-left: auto;
    margin-right: auto;
}

div:has(> table) {
    overflow: auto;

    ::-webkit-scrollbar {
        height: 5px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: rgb(73, 73, 73);
        border-radius: 5px;
    }
}

@media (max-width: 1000px) {
    .automargin {
        margin-left: 10px !important;
        margin-right: 10px !important;
    }
}

// TODO review and remove
body.hasHover .toucheffect:hover {
    background-color: $hover-color;
}

.toucheffect:active {
    background-color: $active-color;
}

body::before {
    position: fixed;
    width: 100dvw;
    height: 100dvh;
    content: '';
    backdrop-filter: blur(30px) brightness(0.8);
    display: block;
    opacity: 1;
    z-index: 1000;
    transition: opacity 0.5s ease;
}

body::after {
    content: '';
    width: 70px;
    height: 70px;
    font-weight: 500;
    border-top: $spinner-thickness solid $spinner-color;
    border-right: $spinner-thickness solid $spinner-color;
    border-bottom: $spinner-thickness solid transparent;
    border-left: $spinner-thickness solid transparent;
    border-radius: 50%;
    position: fixed;
    animation: rotate 1s ease;
    animation-iteration-count: infinite;
    opacity: 1;
    z-index: 1001;
    transition: opacity 0.5s ease;
    left: calc(50% - 70px / 2);
    top: calc(50dvh - 70px / 2);
}

body.loaded::before, body.loaded::after {
    opacity: 0;
}

body.full_loaded::before, body.full_loaded::after {
    display: none;
}