@keyframes rotate {
    0% {
        rotate: 0;
    }

    100% {
        rotate: 360deg;
    }
}

@keyframes cardExpand {
    from {}
    to {
        top: 10px;
        left: 10px;
        width: calc(100% - 20px);
        height: calc(100% - 20px);
    }
}

@keyframes dialog_open {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes dialog_close {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    
    to {
        opacity: 1;
        transform: translateY(0);
    }
}