$hover-color: rgba(110, 110, 110, 0.3);
$active-color: rgba(163, 163, 163, 0.3);

$color-primary: #C1C1FF;
$color-onPrimary: #2A2A60;
$color-primaryContainer: #404178;
$color-primaryContainerDarkened: #2d2d54;
$color-onPrimaryContainer: #E2DFFF;
$color-secondary: #C6C4DD;
$color-onSecondary: #2F2F42;
$color-secondaryContainer: #454559;
$color-secondaryContainerDarkened: #30303e;
$color-onSecondaryContainer: #E2E0F9;
$color-tertiary: #E9B9D3;
$color-onTertiary: #46263A;
$color-tertiaryContainer: #5F3C51;
$color-onTertiaryContainer: #FFD8EB;
$color-error: #FFB4AB;
$color-onError: #690005;
$color-errorContainer: #93000A;
$color-onErrorContainer: #FFDAD6;
$color-background: #131318;
$color-onBackground: #E4E1E9;
$color-surface: #131318;
$color-onSurface: #E4E1E9;
$color-surfaceVariant: #47464F;
$color-onSurfaceVariant: #C8C5D0;
$color-outline: #918F9A;
$color-outlineVariant: #47464F;
$color-scrim: #000000;
$color-inverseSurface: #E4E1E9;
$color-inverseOnSurface: #303036;
$color-inversePrimary: #585992;
$color-surfaceDim: #131318;
$color-surfaceBright: #39383F;
$color-surfaceContainerLowest: #0E0E13;
$color-surfaceContainerLow: #1B1B21;
$color-surfaceContainer: #1F1F25;
$color-surfaceContainerHigh: #2A292F;
$color-surfaceContainerHighest: #35343A;

$color-githubDark-background: #0d1117;