@use "visualEffects";
@import "colors";
@import "mixins";

a:has(md-filled-button) {
    text-decoration: none !important;
}

md-filled-button {
    background-color: $color-primaryContainer;
    user-select: none;
    padding: 10px;
    border-radius: 20px;
    transition: background-color 0.25s ease, transform 0.5s ease;
    text-decoration: none !important;
    cursor: pointer;
    color: white;
    display: block;
    overflow: hidden;
    position: relative;
    width: max-content;

    &:hover {
        background-color: $color-primaryContainerDarkened;
    }

    &:visited, &:link {
        text-decoration: none;
    }

    &:active {
        transform: scale(0.95);
    }
}

#status_wrapper {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
    display: flex;

    #status {
        position: relative;
        border-radius: 20px;
        padding: 5px 5px 10px 10px;
        transition: right 0.25s ease-in-out;
        right: 0;

        .head {
            display: flex;
            align-items: center;
        }

        p.message {
            margin-block: 0;
            margin: 10px 5px 0 0;
        }

        span.material-symbols.filled {
            display: none;
            margin-right: 5px;
            user-select: none;
        }

        .space {
            flex-grow: 1;
            min-width: 20px;
        }

        md-icon-button.close {
            display: block;
            --md-icon-button-icon-color: white;
            --md-icon-button-hover-icon-color: white;
            --md-icon-button-pressed-icon-color: white;
            --md-icon-button-focus-icon-color: white;

            div {
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .progress {
            width: calc(100% - 5px);
            height: 5px;
            position: relative;
            margin-top: 5px;

            .progress_bar {
                transition-property: width;
                transition-timing-function: linear;
                width: 0;
                height: 100%;
                background-color: rgb(255, 255, 255);
                border-radius: 5px;
            }
        }
    }

    #status.hidden {
        right: calc(-100% - 10px);
    }

    #status.success {
        background-color: rgb(39, 193, 31);

        .head > span.material-symbols.filled.success {
            display: block;
        }
    }

    #status.error {
        background-color: rgb(217, 36, 36);

        .head > span.material-symbols.filled.error {
            display: block;
        }
    }
}

div.warning {
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(255 255 0);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: left;

    .warning-icon {
        margin-right: 10px;
        color: rgb(255, 255, 0);
    }
}

.dialog {
    backdrop-filter: blur(10px) brightness(70%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    transition: opacity 0.5s ease;
    opacity: 0;
    user-select: none;
}

.dialog.open {
    opacity: 1;
    height: 100vh;
}

pre {
    background-color: $color-githubDark-background;
    padding: 16px 16px 0 16px;
    border-radius: 20px;
    width: min-content;
    @include automargin();

    code {
        overflow: auto;
        width: 100%;
        display: block;
        padding: 0 0 16px 0 !important;
        font-family: monospace !important;
        text-align: left;
        box-sizing: border-box;

        * {
            font-family: inherit;
        }
    }
}


//noinspection DuplicatedCode
md-icon-button {
    margin-left: auto;
    position: relative;
    transition: opacity 0.5s ease-in-out;
    cursor: pointer;
    font-family: 'Material Symbols Outlined', monospace;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    user-select: none;
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;

    &::after {
        content: '';
        position: absolute;
        width: calc(100% + 10px);
        height: calc(100% + 10px);
        left: -5px;
        top: -5px;
        border-radius: 50%;
        background-color: $hover-color;
        opacity: 0;
        transition: all 0.25s ease-in-out;
        cursor: pointer;
    }
}

:is(md-icon-button:hover)::after {
    opacity: 1;
}

:is(md-icon-button:active)::after {
    opacity: 1;
    background-color: $active-color;
}