# Enhanced workflow for deploying to the self-hosted server
name: Deploy to server

on:
  # Runs on pushes targeting the default branch
  push:
    branches: ["main"]
    paths:
      - "Dockerfile"
      - "build.sh"
      - ".github/workflows/deploy.yml"
      - "frontend/**"
      - "backend/**"
      - "caddy/**"
      - "secrets.properties"
      - "docker-compose.yml"
      - ".dockerignore"
  workflow_dispatch:
    inputs:
      noCache:
        description: "Disable Docker cache"
        type: boolean
        required: false
        default: false

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    runs-on: self-hosted
    env:
      HOME: "/root"
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build container
        env:
          NORUN: true
          PROGRESS: true
          DEBUG: false
          NOCACHE: ${{ inputs.noCache }}
        run: ./build.sh
      - name: Set up the service
        run: |
          cp -f backend/server.service /etc/systemd/system/server.service
          systemctl daemon-reload
      - name: Start the server
        run: |
          if ! systemctl restart server && sleep 10 && systemctl status server; then
            journalctl --no-pager -xeu server
            exit 1
          fi